/* font style */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.lato-font {
  font-family: "Lato", sans-serif;
  font-style: normal;
}

/* shared style */
.primary-width{
    max-width: 1440px;
    margin: 0px auto;
}
.primary-title{
    font-size: 2.5rem;
    font-weight: 800;
    color: #272727;
}
.primary-description{
    font-size: 1.125rem;
    font-weight: 500;
    color: rgba(39, 39, 39, 0.6);
}
/* header section */
.header{
    background-color: rgba(229, 84, 115, 0.1);
}
.header-section{
    display: flex;
   gap: 97px;
}
.flower-details{
    max-width: 700px;
    margin-top: 100px;
}
.flower-title{
    font-size: 5rem;
    font-weight: 800;
    margin-bottom: 30px;
}
.flower-button{
    width: 185px;
    padding: 20px 40px;
    font-size: 1.25rem;
    font-weight: 700;
    color: white;
    background-color: #E55473;
    border-radius: 8px;
    border: none;
}
.header-image img{
    width: 100%;
}
/* flower featur  */
.flower-feature-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* justify-content: center;
    align-items: center; */
    gap: 24px;
}
.flower-feature-content{
        max-width: 580px;
        margin: 48px auto;
        text-align: center;
}
.flower-feature{
    margin-top: 120px;
}
.flower-card{
    text-align: center;
}
.flower-title-1{
    font-size: 1.50rem;
    font-weight: 700;
    text-decoration: underline;
}
.background{
     max-width: 480px;
     height: 530px;
     background-color: rgba(167, 33, 98, 0.15);
    border-top-right-radius: 45%;
    border-top-left-radius: 45%;
    display: flex;
    justify-content: center;
    align-items: end;
}
.background-1{
     /* height: 605px; */
     background-color: rgba(167, 33, 98, 0.15);
    border-top-right-radius: 45%;
    border-top-left-radius: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Media quari for mobile device */
@media screen and (max-width: 576px) {
    .header-section{
        flex-direction: column;
    }
    .flower-feature-container{
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .flower-details{
        margin: 0px 10px;
    }
}
/* Media quari for tablet device */
@media screen and (min-width: 576px) and (max-width: 990px) {
     .flower-feature-container{
        grid-template-columns: repeat(2,1fr);
        /* justify-items: center; */
    }
    .flower-details{
    margin-top: 50px;
    margin-bottom: 30px;
    }
     .header-section{
        gap: 60px;
     }
     .flower-title{
        font-size: 3rem;
     }
     .header-image img{
        margin-top: 80px;
        height: 80%;
     }
}